{% load static %}
{% load webp %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenericBeybladeWebsite</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alata&display=swap">
    <link rel="icon" href="{% static 'images/logos/beyblade-logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <script src="{% static '//js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/54a0cfe9a6.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {{ form.media }}
</head>
<body>
    <section id="header">
        <nav class="navbar">
            <div class="logo">
                <a href="/"><img src="{% webp 'images/Logos/beyblade-logo.jpg' %}" class="logo" alt=""></a>
            </div>
            <div class="title">
                <h1>Generic Beyblade Website</h1>
            </div>
            <div class="logo">
                <img src="{% webp 'images/Homepage/no-bg.png' %}" alt=""></a>
            </div>
            <button class="toggle-button" onclick="toggle();">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
            <div class="navbar-links">
                <ul>
                    <li class="item"><a class="active" href="/">Home</a></li>
                    <li class="item"><a href="/shop/">Shop</a></li>
                    {% for c, g in generations.items %}
                    <li class="dropdown">
                        <a href="{% url 'Core:category-product-list' c %}">{{c}}</a>
                        <div class="dropdown-content">
                            {% for gen in g %}
                            <a href="{% url 'Core:generation-product-list' gen.title %}">{{gen.title}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                    <li class="item"><a class="active" href="/orders/">Orders</a></li>
                    <li class="item"><a class="active" href="/cart/">Cart<span class="badge cart-items-count">{{ request.session.cart_data_obj|length }}</span></a></li>
                </ul>
            </div>
        </nav>
    </section>
</body>
</html>










<!--
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    <script>
        setTimeout(function() {
            $(".alert").alert('close');
        }, 3000);
    </script>           
-->




    {% block content %}

    {% endblock content %}


<footer>
    <section id="footer">
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="/policy/about-us/">About Us</a></li>
                        <li><a href="/policy/our-services/">Our Services</a></li>
                        <li><a href="/policy/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/policy/terms-of-service/">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="/policy/faq/">FAQ</a></li>
                        <li><a href="/policy/shipping-policy/">Shipping Policy</a></li>
                        <li><a href="/policy/return-policy/">Return policy</a></li>
                        <li><a href="/orders/">Order Status</a></li>
                        <li><a href="/policy/payment-options/">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Online Shop</h4>
                    <ul>
                        {% for c in categories %}
                            <li><a href="{% url 'Core:category-product-list' c.title %}">{{c.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="https://www.ebay.com/"><i class="fab fa-ebay"></i></a>
                        <a href="https://discord.com/"><i class="fab fa-discord"></i></a>
                        <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.mercari.com/">M</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>